datadiff
docker-py>=1.2.2
fabric
lxml
mysqlclient
psycopg2
pyftpdlib
pymongo
pysmb
pytest
pytest-capturelog
pytest-instafail
pytest-timeout
python-ntlm3
requests
requests_ntlm
requests_toolbelt
slackclient
sqlalchemy
