datadiff
docker-py>=1.2.2
envoy
fabric
kazoo
lxml
mysqlclient
psycopg2
pyftpdlib
pymongo
pysmb
pytest
pytest-instafail
pytest-capturelog
pytest-timeout
pytest-xdist
python-ntlm3
requests
requests_ntlm
requests_toolbelt
slackclient
sqlalchemy
subvertpy
